<!-- <h1>Application Angular : AnguCD</h1> -->

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">ANGU_CD</a>
    <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/catalog">Liste de CDs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newCD">Nouveau CD</a>
            </li>
        </ul>
    </div>
</nav>