.cd-card{
    box-sizing: border-box;
    padding: 20px 30px;
    box-shadow: lightcyan 4px 4px 20px;
    img{
        width: 40vw;
    }
    h2{
        font-size: 15px;
        margin-bottom: 0;
        font-weight: bold;
    }
    p{
        font-weight: 300;
        font-size: 12px;
    }
    .quantite{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    button{
        background-color: rgba(102,87,87,0.37);
        box-sizing: border-box;
        padding: 5px 10px;
        border: none;
        box-shadow: lightcyan 3px 3px 7px;
        margin-right: 20px;
        outline: none;
        font-size: 12px;
        font-weight: 500;
        &:active{
            transform: translate(1px,1px);
            box-shadow: lightblue 0 0 5px;
        }
        
    }
    &.cdadded{
        background-color: rgba(44,172,44,0.5);
    }
}